<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="ja">

<head>
  <meta charset="UTF-8">
  <title>社員一覧</title>
</head>
<body>

<h1>社員一覧</h1>

<form th:action="@{/logout}" method="post">
  <button type="submit">ログアウト</button>
</form>

<p>ログインユーザー: <span sec:authentication="name"></span></p>
<p>権限: <span sec:authentication="authorities"></span></p>

<!--
th:each 一覧を回す
th:text 表示する
th:href 画面遷移

画面構成
li> 社員一覧画面（list.html）
├─ 検索フォーム
│
└─ 社員一覧
    ├─ a> 詳細リンク → detail.html
    └─ form> 削除
-->

<form th:action="@{/employees}" method="get">
  <label>
    <input type="text" name="keyword" th:value="${keyword}">
  </label>
  <button type="submit">検索</button>
</form>

<!-- 資格を持っている社員 -->
<h2>資格を持っている社員</h2>

<p th:if="${hasQualification.isEmpty()}">
  該当者はいません
</p>

<ul th:if="${!hasQualification.isEmpty()}">
  <li th:each="employee : ${hasQualification}">
    <a th:href="@{/employees/{employeeNumber}(
      employeeNumber=${employee.employeeNumber},
      keyword=${keyword}
    )}">
      <span th:text="${employee.employeeNumber}"></span>
      <span th:text="${employee.department ?: '未設定'}"></span>
      <span th:text="${employee.grade}"></span>
      <span th:text="${employee.name}"></span>
    </a>

    <!-- 削除ボタン（資格を持っている社員用） -->
    <div sec:authorize="hasRole('ADMIN')">
    <form th:action="@{/employees/{employeeNumber}/delete(employeeNumber=${employee.employeeNumber})}"
          method="post"
          style="display:inline;">
      <button type="submit"
              onclick="return confirm('本当に削除しますか？');">
        削除あ
      </button>
    </form>
    </div>
  </li>
</ul>

<!-- 資格を持っていない社員（資格指定時のみ表示想定） -->
<div th:if="${!hasNotQualification.isEmpty()}">
  <h2>資格を持っていない社員</h2>

  <ul>
    <li th:each="employee : ${hasNotQualification}">
      <span th:text="${employee.employeeNumber}"></span>
      <span th:text="${employee.department ?: '未設定'}"></span>
      <span th:text="${employee.grade}"></span>
      <span th:text="${employee.name}"></span>

      <!-- 削除ボタン（資格を持っていない社員用） -->
      <div sec:authorize="hasRole('ADMIN')">
      <form th:action="@{/employees/{employeeNumber}/delete(employeeNumber=${employee.employeeNumber})}"
            method="post"
            style="display:inline;">
        <button type="submit"
                onclick="return confirm('本当に削除しますか？');">
          削除い
        </button>
      </form>
      </div>



    </li>
  </ul>
</div>

</body>
</html>